:root {
    /* LAYOUT */
    --app-header-height: 4rem;
    --note-header-height: 4rem;


    /* COLORS */
    --bg1: lightblue;
    --bg2: rgb(50, 160, 204);
    --bg3: rgb(89, 134, 206);

    --color1: rgb(26, 115, 232);
    --color2: rgb(24, 128, 56);
    --color3: rgb(197, 34, 31);

    --gray1: #aaa;
    --gray2: #888;
    --gray3: #333;

    /* KEEP (Notes app) */
    --keep-gray-1: #f1f3f4;
    --keep-gray-primary: #dadce0;
    --keep-gray--1: #5f6368;

}
