.app-header {
        height: var(--app-header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: lightblue;

    position: relative;
    z-index: 20;
}

.app-header nav a {
    margin: .5em;
}

.app-header nav a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: overline;
}