.app-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: lightblue;
}

.app-header nav a {
    margin: .5em;
}

.app-header nav a.active {
    color: var(--clr-brand-primary);
    font-weight: bold;
    text-decoration: overline;
}
